---
import BaseLayout from './BaseLayout.astro';
import Header from '@layout/Header.astro';
import Footer from '@layout/Footer.astro';
import AnnouncementBar from '@layout/AnnouncementBar.astro';
import { siteConfig } from '@/config';

interface Props {
  title: string;
  description: string;
  image?: string;
  type?: 'website' | 'article';
  publishedDate?: Date;
  modifiedDate?: Date;
  author?: string;
  tags?: string[];
}

const {
  title,
  description,
  image,
  type = 'website',
  publishedDate,
  modifiedDate,
  author,
  tags,
} = Astro.props;

const { announcement } = siteConfig;
---

<BaseLayout
  title={title}
  description={description}
  image={image}
  type={type}
  publishedDate={publishedDate}
  modifiedDate={modifiedDate}
  author={author}
  tags={tags}
>
  <Fragment slot="head">
    <script is:inline>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PVSL2LG5');
    </script>
  </Fragment>

  <div class="flex flex-col min-h-screen">
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PVSL2LG5"
      height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    {
      announcement.enabled && (
        <AnnouncementBar
          id={announcement.id}
          text={announcement.text}
          href={announcement.href}
          linkText={announcement.linkText}
          variant={announcement.variant}
          dismissible={announcement.dismissible}
        />
      )
    }
    <Header />
    <main id="main-content" class="flex-1">
      <slot />
    </main>
    <Footer />
  </div>
</BaseLayout>